<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <queries>
        <package android:name="com.lwi.android.flapps" />
        <package android:name="comspli.exaspli.splitscspli" />
        <package android:name="com.split.screen.shortcut.overview.accessibility.notification" />
        <package android:name="any.splitscreen" />
        <package android:name="com.split.screen" />
        <package android:name="com.fb.splitscreenlauncher" />
        <package android:name="maxcom.toolbox.screensplitter" />
        <package android:name="com.dvg.multivideoplayer" />
        <package android:name="com.mercandalli.android.apps.bubble" />
        <package android:name="com.split.screen.shortcut" />
        <package android:name="com.artds.split.dual.screen.nb" />
        <package android:name="com.dualbrowser.splitscreen.multi" />
        <package android:name="splitscreen.dualscreen.favoriteappindia" />
        <package android:name="com.view.multiscreenviewbrowser" />
        <package android:name="com.aicity.aiscreen" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GriyaBelajarExam"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FrameActivity"
            android:lockTaskMode="always"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>
</manifest>